<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Candidate Form
        </div>
        <div class="card-body">
          <form [formGroup]="candidateForm">
            <input type="text" class="form-control" formControlName="name" placeholder="Name">
            <div formArrayName="hobbies" class="mt-3">
              <div *ngFor="let hobbie of hobbiesFormGroup.controls;let hobbieIndex=index">
                <div [formGroupName]="hobbieIndex" class="row" style="margin-top:15px;"> 
                  <div class="col-2">
                    <input type="text" class="form-control" formControlName="hobbieName" placeholder="Parent Hobbies">
                  </div>
                  <div class="col-4">
                    <button (click)="addHobbies()"  class="btn btn-primary" style="margin-right: 5px;">Add</button>
                    <button (click)="deleteHobbies(hobbieIndex)"  class=" btn btn-danger" style="margin-right: 5px;">Delete</button>
                    <button (click)="addChildHobbies(hobbieIndex)"  *ngIf="getChildHobbies(hobbieIndex).controls.length == 0 ? true : false" class="btn btn-warning">Child</button>
                  </div>
                    <div *ngIf="getChildHobbies(hobbieIndex).controls.length > 0 ? true : false">
                        <div class="row d-flex" formArrayName="childHobbies" style="margin-left: 20px; margin-top:15px">
                          <div class="col-12" *ngFor="let childHobbie of getChildHobbies(hobbieIndex).controls; let childHobbieIndex=index">
                           <div class="col-2" style="float:left;margin-right:20px;margin-top:7px;"  [formGroupName]="childHobbieIndex">
                              <input type="text" class="form-control" formControlName="childHobbieName" placeholder="Child Hobbies">
                            </div> 
                            <div class="col-4" style="margin-top:10px">
                              <button (click)="addChildHobbies(hobbieIndex)" class="btn btn-primary"  style="margin-right: 5px;">Add</button>
                              <button (click)="deleteChildHobbies(hobbieIndex,childHobbieIndex)" class="btn btn-danger"  style="margin-right: 5px;">Delete</button>
                              <!-- <button (click)="innerChildHobbies(childHobbieIndex)"   class="btn btn-warning">Child</button> -->
                            </div>
                         </div> 
                        </div>
                    </div>
                    <div class="mt-4"> 
                      <button  (click)="submit()"  [disabled]="candidateForm.invalid" class="btn btn-success">Submit</button>
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="uniqueDiv">
  
</div>